<% provide(:title, "FH People") %>
<div class="container">
	<% if @users %>
		<% @users.each do |user| %>
			<div class="panel">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-xs-2" style="display:table !important; vertical-align: middle !important">
						<%= image_tag user.gravatar_url(:size => 30) %>
					</div>
					<div class="col-lg-2 col-md-2 col-xs-3">
						<%= link_to user.name, user %>
					</div>
					<div class="col-lg-2 col-md-2 col-xs-3">
						<small><%= user.email %></small>
					</div>
				</div> <!-- end of div.row	 -->
			</div><!-- end of div.panel	 -->
		<% end %>	
	<% end %>
</div>
