<div class="container">
	<% if @user %>
		<ul>
			<li><%= @user.email %></li>
			<li><%= @user.name %></li>
		</ul>
		<% @user.roles.each do |role| %>
			<%= role.name %>
		<% end %>
	<% end %>
</div>