<div class="container">
	<% if current_user %>
		<div class="panel">
			<%= link_to "Upload ipa", new_ios_release_path, class: "btn btn-primary" %>
			<%= link_to "Upload apk", "#", class: "btn btn-primary" %>
		</div>
	<% else %>
		<div class="jumbotron text-center">
			<p>Distribute mobile apps over the air</p>
			<%= link_to "Sign in", login_url, class: "btn btn-warning" %>
		</div>
	<% end %>
</div>



