<div class="container">
	<div class="jumbotron text-center">
		<p>Please install the certificate in order to install iOS apps </p>
		<small><%= link_to "Download the certificate", '/server.crt', class: "btn btn-primary"%></small>
	</div>
</div>