<% provide(:title, "Upload Apps") %>
<div class="container">
	<% if current_user %>
		<div class="row">
			<div class="col-md-6">
				<div class="jumbotron text-center">
					<h3>iOS</h3>
					<p>
						Add an iOS build by uploading an .IPA
					</p>
					<%= link_to "Upload .IPA", new_ios_release_path, class: "btn btn-primary" %>
					<div>
						<br/>
						<small><%= link_to "Download the certificate here", '/server.crt' %></small>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="jumbotron text-center">
					<h3>Android</h3>
					<p>
						Add an Android build by uploading an .APK
					</p>
					<%= link_to "Upload .APK", "#", class: "btn btn-primary" %>
				</div>
			</div>
		</div>
	<% else %>
		<div class="jumbotron text-center">
			<p>Distribute mobile apps over the air</p>
			<%= link_to "Login", eflogin_url, class: "btn btn-warning" %>
		</div>
	<% end %>
</div>



