// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

@media only screen and (min-width: 800px) {
	#unseen table th:nth-child(3), 
	#unseen table td:nth-child(3) {display: none !important;}

	#releases {
		.version {
		}
	}
}
 
@media only screen and (max-width: 480px) {
	#unseen table th:nth-child(3),
	#unseen table td:nth-child(3) {display: none !important;}

	#releases {

	}
}


body {
	.icon {
		border-radius: 10px; 
		box-shadow: 3px 3px 10px #aaa;
	}

	table#product	{
		td.name {
			padding-left: 10px;
		}

		td.version {
			padding-top: 15px; 
		}

		td.updated_at, th.updated_at {
			padding-left: 10px;
		}

	}

	table#releases {
		td.name {
			padding-left: 5px;
			padding-top: 0px;
		}

		td.notes {
		}

		td.version, td.notes {
			padding-top: 7px;
		}

		td.install-btn {
			padding-top: 15px;
		}
	}

}
