// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

@media only screen and (min-width: 800px) {
	#unseen table th:nth-child(3), 
	#unseen table td:nth-child(3) {display: none !important;}

	#releases {
		.version {
		}
	}
}
 
@media only screen and (max-width: 480px) {
	#unseen table th:nth-child(3),
	#unseen table td:nth-child(3) {display: none !important;}

	#releases {

	}
}


body {
	.icon {
		border-radius: 8px; 
		box-shadow: 3px 3px 10px #aaa;
		margin-top: 3px;
	}

	table#product	{
		.version {
			padding-top: 15px;
		}
	}

	table#releases {
		td.name {
			width: 35%;
			padding-top: 0px;
			padding-right: 0px;
		}

		td.notes {
			width: 35%;
			padding-left: 0px;
			padding-right: 0px;
		}

		td.install-btn {
			width: 10%;
			padding-top: 15px;
			padding-left: 0px;
			padding-right: 5px;
		}
	}

	.btn-destroy {
		float: right;
	}

}
