<ol class="breadcrumb">
	<li><small><%= link_to "Apps", products_url %></small></li>
	<% if !@releases.blank? %>
		<li class="active"><small><%= @releases.last.product.name %></small></li>
	<% elsif @release %>
		<li><small><%= link_to @release.product.name, product_releases_path(@release.product) %></small></li>
  	<li class="active"><small><%= "#{@release.name} v#{@release.version}" %></small></li>
	<% end %>
</ol>

