<div class="container">
	<% if @products %>
	<% @products.each do |product| %>
		<% if product.releases.any? %>
			<div class="panel">
					<div class="row vcenter">
						<div class="col-md-1 vcenter">
							<%= image_tag product.releases.first.icon.icon_data.url, size: "40x40" , style: "border-radius: 10px; box-shadow: 3px 3px 10px #aaa; vertical-align: middle;" %>
						</div>
						<div class="col-xs-3 col-md-2 col-lg-2 vcenter">
							<strong><%= link_to "#{product.name}", product_releases_path(product) %></strong>
						</div>
						<div class="col-md-2 vcenter">
							<small class="btn-sm"><%= product.created_at.strftime('%b %e, %Y') %></small>
						</div>
						<div class="col-md-2 vcenter">
							<small class="btn-sm"><%= product.identifier %></small>
						</div>
					</div>	
			</div>
		<% end %>	
	<% end %>
<% end %>
</div>