<div class="container">
	<% if @products %>
	<table id="product" class="table table-striped">
	<thead class="text-center">
		<tr>
			<th colspan="2">App</th>
			<th class="latest_updated_version"><small>Latest Version</small></th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
			<% unless product.releases.blank? %>
				<tr>
					<td>
						<%= link_to (image_tag product.releases.first.icon.icon_data.url, size: "50x50", class: "icon"), product_releases_path(product) %>
					</td>
					<td class="name">
						<span><h5><%= link_to "#{product.name}", product_releases_path(product), class: "product_name" %></h5></span>
						<span><h6><small><%= product.releases.last.updated_at.strftime('%b %e, %Y') %></small></h6><span>
					</td>
					<td><%= product.releases.last.version %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
<% end %> <!-- end of @products -->
</div>