<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<%= link_to "EF Mobile", root_path, class: "navbar-brand" %>
		<ul class="nav navbar-nav">
  		<li><%= link_to "Add iOS Builds", "#"  %></li>
  		<li><%= link_to "Add Android Builds", "#" %></li>
  	</ul>
	</div>
</nav>

<h1>Products</h1>