<div class="container">
	<% if @products %>
	<% @products.each do |product| %>
		<% if product.releases.any? %>
			<div class="panel">
				<div class="panel-heading">
					<h4>
						<%= link_to "#{product.name}", releases_path(product) %>
						<small class="btn-sm"><%= product.created_at.strftime('%B %e, %Y') %></small>
					</h4>
					<div>
						<small class="btn-sm"><%= product.identifier %></small>
					</div>
				</div>	
			</div>
		<% end %>	
	<% end %>
<% end %>
</div>