<div class="panel">
	<%= link_to "Upload ipa", new_ios_release_path, class: "btn btn-primary" %>
	<%= link_to "Upload apk", "#", class: "btn btn-primary" %>
</div>


<h1>Products</h1>			
<%= link_to "Releases", ios_releases_path, class: "btn btn-primary" %>