<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<div class="container">
		  <%= link_to "All Products", root_path, class: "navbar-brand" %>
			<ul class="nav navbar-nav">
  			<li><%= link_to "Upload ipa", new_ios_release_path  %></li>
  			<li><%= link_to "Upload apk", "#" %></li>
  		</ul>
		</div>

	</div>
</nav>
